*
{
    padding: 0;
    margin: 0;
}

.page
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F7F7F7;
}

.top-block
{
    background: #000 url(../images/backgrounds/top_block_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 20px 270px 160px 250px;
}

.page__menu
{
    display: inherit;
    justify-content: space-between;
    align-items: center;
}

.top-block__page-menu
{
    margin: 0 0 131px 0;
}

.navigation
{
    font: 12px/1.67 'Oxygen', sans-serif;
    text-transform: uppercase;
    justify-self: end;
}

.top-block__navigation
{
    letter-spacing: 0.6px;
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.navigation__link
{
    text-decoration: none;
    color: #FFF;
}

.top-block__header
{
    font: 50px/1.02 'Lora', serif;
    letter-spacing: 2px;
    color: #FFF;
    align-self: center;
    margin: 0 0 20px 0;
}

.top-block__text
{
    font: 17px/1.18 'Oxygen', sans-serif;
    color: rgba(255, 255, 255, 0.63);
    align-self: center;
    margin: 0 0 31px 0;
}

.button
{
    width: 167px;
    height: 44px;
    border-radius: 3px;
    border-width: 0;
}

.top-block__button
{
    background: #DD783F;
    color: #fff;
    font: 13px/1.54 'Oxygen', sans-serif;
    align-self: center;
}

.page-navigation
{
    padding: 22px 296px 23px 286px;
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
}

.page-navigation__link
{
    font: 14px/1.43 'Lora', serif;
    color: #768088;
    text-decoration: none;
}

.section
{
    padding: 60px 0 7px;
    width: 940px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
}

.section__header
{  
    display: flex;
    width: 100%;
    margin: 0 0 40px 0;
    justify-content: center;
}

.section__header-text
{
    font: 20px/1.35 'Oxygen', sans-serif;
    letter-spacing: 2px;
    color: #2E2E2E;
    position: relative;
}

.section__header-text::before
{
    position: absolute;
    content: url(../images/decorations/header_underline.svg);
    bottom: -10px;
    left: -15px;
}

.main-section__card
{
    height: 245px;
    width: 420px;
    position: relative;
}

.card__label
{
    position: absolute;
    background-color: #DD783F;
    font: 13px/1.08 'Oxygen', sans-serif;
    color: #FFF;
    text-transform: uppercase;
    top: 20px;
    left: 20px;
    border-radius: 2px;
    display: flex;
    align-items :center;
    justify-content: center;
    width: 87px;
    height: 26px;
}

.main-section__card
{
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 3px;
    padding: 0 20px 20px 20px;
}

.main-section__card_first
{
    background-image: url(../images/cards/the_road_ahead.png);
}

.main-section__card_second
{
    background-image: url(../images/cards/from_top_down.png);
}

.card__header
{
    font: 27px/1.11 'Lora', serif;
    color: #FFF;
}

.card__text
{
    font: 14px/1.79 'Oxygen', sans-serif;
    color: rgba(255, 255, 255, 0.7);
    padding: 0 0 15px;
}

.card__signature
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__author
{
    display: flex;
    align-items: center;
}

.card__author-name, .card__date
{
    font: 12px/2.92 'Oxygen', sans-serif;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 10px;

}

.section_alt
{
    justify-content: space-around;
}

.card__header-text_alt
{
    color: #101315;
    font-size: 16px;
    line-height: 21px;
}

.card__text_alt
{
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
}

.card__author-name_alt
{
    color: #999999;
}

.card__date_alt
{
    color: #999999;
}

.alt-section__card
{
    width: 296px;
    background: #FFFFFF;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.09);
    border-radius: 3px;
}