*
{
    padding: 0;
    margin: 0;
}

.top-block
{
    background: #000 url(../images/backgrounds/top_block_background.jpg);
    background-repeat: no-repeat;
}

.top-block__text
{
    font: 'Oxygen' 17px/1.18;
}
