*
{
    padding: 0;
    margin: 0;
}

.body
{
    background-color: #F5F5F5;
}

.logo
{
  width: 132px;
}

.header
{
    padding: 0 9%;
    margin: 0 0 64px 0;
    background-color: #2E2E2E;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    display: flex;
}

.tray
{
    display: flex;
    align-items: center;
}

.tray__user-logo
{
    display: flex;
    height: 32px;
    width: 32px;
    background-color: #DD783F;
    border-radius: 50px;
    color: #FFF;
    justify-content: center;
    align-items: center;
}

.form
{
    padding: 0 9%;
}

@keyframes showBlock 
{
    0% {
      height: 0;
      opacity: 0;
      margin: 0;
    }
    100% {
      height: 44px;
      opacity: 1;
    }
}

.alert_error
{
    background: #FFEBEA;
    border-left: 2px solid #E86961;
    border-radius: 5px;
    margin: 0 0 16px 0;
    display: none;
}

.alert_error.show, .alert_success.show
{
    display: block;
    animation-name: showBlock;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}

.alert_success
{
    background: #E6FCEF;
    border-left: 2px solid #67C48C;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    margin: 0 0 16px 0;
    display: none;
}

.alert__text_error, .alert__text_success
{
    position: relative;
    font: 14px/1.43 'Oxygen', sans-serif;
    color: #2E2E2E;
    padding: 11px 0 13px 46px;
}

.alert__text_error::before
{
    position: absolute;
    content: url(/static/images/decorations/alert-circle.png);
    left: 12px;
}

.alert__text_success::before
{
    position: absolute;
    content: url(/static/images/decorations/check-circle.png);
    left: 12px;
}

.form__header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.form__title-wrapper
{
    padding: auto;
}

.form__title
{
    font: 34px/1.2 'Lora', serif;
    color: #000000;
    margin-bottom: 8px;
}

.form__subtitle
{
    font: 14px/1.43 'Oxygen', serif;
    color: rgba(46, 46, 46, 0.63);
}

.form__publish-button
{
    width: 100px;
    height: 48px;
    border-radius: 3px;
    border-width: 0;
    cursor: pointer;
    background: #DD783F;
    color: #fff;
    font: 13px/1.54 'Oxygen', sans-serif;
    align-self: center;
}

.post-settings-wrapper
{
    display: flex;
    background-color: #FFF;
    padding: 40px;
    margin-bottom: 16px;
    flex-wrap: wrap;
    box-shadow: 0px 6px 12px -10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.post-description
{
    display: flex;
    flex-direction: column;
    width: 58%;
}

.post-settings__title
{
    font: 27px/1.1 'Lora', serif;
    color: #000000;
    margin-bottom: 40px;
    width: 100%;
}

.post-preview
{
    width: 42%;
}

.post-preview__post-title
{
    font: 20.4px/1.18 'Lora';
    text-align: center;
    color: #2E2E2E;
    padding-bottom: 4px;
}

.post-preview__post-subtitle
{
  font: 10.4px/1.18 'Oxygen';
  text-align: center;
  color: rgba(46, 46, 46, 0.63);
  padding-bottom: 36px;
}

.post-preview__post
{
    padding: 118px 24px 0;
    margin-bottom: 78px;
    background-size: cover;
    background-image: url(/static/images/decorations/post_preview.png);
    padding-bottom: 20px;
    position: relative;
}

.post-preview__post-image
{
    width: 100%;
    height: 140px;
    background-size: cover;
    background-color: #F7F7F7;
    background-image: url(/static/images/decorations/preview-postImage.png);

}

.post-preview__gradient_vertical
{
    background: linear-gradient(to right, rgb(255, 255, 255, 0), 20%, rgb(255, 255, 255));
    position: absolute;
    height: 102%;
    width: 30%;
    right: -1px;
    top: -1px;
}

.post-preview__gradient_horizontal
{
    background: linear-gradient(to bottom, rgb(255, 255, 255, 0), 20%, rgb(255, 255, 255));
    position: absolute;
    height: 20%;
    width: 101%;
    left: -1px;
    bottom: -1px;
}

.post_description__wrapper
{
    margin: 0 0 40px;
}

.post-description__label, .post-content__label
{
    font: 12px/1.33 'Oxygen', sans-serif;
    color: #7A7A7A;
    width: 100%;
}

.post-description__field
{
    width: 560px;
    height: 40px;
    padding: 8px 4px;
    margin-bottom: 40px;
    font: 16px/1.5 'Oxygen';
    color: #2E2E2E;
    background: #F7F7F7;
    border-width: 0;
    border-bottom: 1px solid #2E2E2E;
    border-radius: 5px 5px 0px 0px;
}
.post-description__label_small-margin
{
    margin-bottom: 10px;
}

.post-description__field_white-backgound
{
    background: #fff;
}

.post-description__field-description
{
    font: 12px/16px 'Oxygen', sans-serif;
    color: #999;
}

.post-description__post-autor-photo-wrapper
{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    align-items: center;
}

.upload-button
{
    font: 16px/24px 'Oxygen';
    color: #2E2E2E;
    cursor: pointer;
    margin-left: 15px;
}

.upload-new-button
{
    position: relative;
    margin: 0 0 0 48px;
    font: 16px/1.5 'Oxygen', sans-serif;
    color: #2E2E2E;
    text-align: center;
    border: none;
    background: none;
    cursor: pointer;
}

.upload-new-button::before
{
    position: absolute;
    content: url(/static/images/decorations/camera.png);
    left: -36px;    
}

.block_hidden
{
    display: none;
}

.remove-button
{
    position: relative;
    margin: 0 0 0 48px;
    width: 59px;
    height: 24px;
    font: 16px/1.5 'Oxygen', sans-serif;
    color: #E86961;
    text-align: center;
    border: none;
    background: none;
    cursor: pointer;
}

.remove-button::before
{
    position: absolute;
    content: url(/static/images/decorations/red-bin.svg);
    left: -24px;
}


.post-description_file-input
{
    display: none;
}

.post-preview__label
{
    font: 14px/1.43 'Oxygen';
    color: #7A7A7A;
    margin: 0 0 15px 0;
}

.post-description__author-photo
{
    height: 48px;
    width: 48px;
    cursor: pointer;
    border-radius: 50px;
    background-size: cover;
    background-image: url(/static/images/decorations/placeholder-authorPhoto.png);
}

.post-description__author-photo_hidden
{
    display: none;
}

.post-description__post-image
{
    width: 560px;
    height: 160px;
    cursor: pointer;
    background-size: cover;
    margin: 0 0 12px;
    background-image: url(/static/images/decorations/placeholder-postImage.png)
}

.post-description__card-image
{
    width: 296px;
    height: 150px;
    cursor: pointer;
    background-size: cover;
    background-image: url(/static/images/decorations/placeholder-cardImage.png);
    margin: 0 0 12px;
}

.post-preview__card
{
    width: 440px;
    height: 385px;
    background: #FFF;
    border: 1px solid #D3D3D3;
    border-radius: 10px 0px;
    position: relative;
}
.card
{
    height: 240px;
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    background-size: cover;
}

.card__image
{
    height: 150px;
    background-size: cover;
    background-image: url(/static/images/decorations/preview-cardImage.png);
}

.card__image_placeholder
{
    background-color: #F7F7F7;
}

.card__title
{
    font: 27px/1.11 'Lora', serif;
    color: #FFF;
}

.card__subtitle
{
    font: 14px/1.79 'Oxygen', sans-serif;
    color: rgba(255, 255, 255, 0.7);
    padding: 0 0 15px;
}

.card__signature
{
    display: flex;
    align-items: center;
}

.card__author-name, .card__date
{
    font: 12px/2.92 'Oxygen', sans-serif;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 10px;
}

.card__date
{
  font: 12px/2.92 'Oxygen', sans-serif;
  color: rgba(255, 255, 255, 0.7);
  margin-left: auto;
}

.card__title_small
{
    color: #101315;
    font-size: 16px;
    line-height: 21px;
    margin: 14px 13px 7px;
}

.card__subtitle_small
{
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
    padding: 0 13px 12px;
}

.card__author-name_small, .card__date_small
{
    color: #999;
}

.card_small
{
    width: 296px;
    margin: 32px 0 0 16px;
    padding: 0;
    height: auto;
    background: #FFF;
    justify-content: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.card__signature_small
{
    padding: 12px 13px 10px;
    border-top: 2px solid #EFEFEF;
    margin-top: auto;
    background-color: #FCFCFC;
}

.card__author-image
{
    height: 26px;
    width: 26px;
    border-radius: 50px;
    background-image: url(/static/images/decorations/preview-authorPhoto.png);
}

.card__author-image_placeholder
{
    background-color: #F7F7F7;
}

.post-content
{
    height: 347px;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 40px;
    margin-bottom: 80px;
    flex-wrap: wrap;
    box-shadow: 0px 6px 12px -10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.form__title_with-bottom-padding
{
    margin-bottom: 40px;
}

.post-content__content
{
    height: 160px;
    max-width: 80%;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    padding: 8px;
    margin-top: 5px;
    font: 16px/1.5 'Oxygen';
    text-align: justify;
    color: #999999;
}