*
{
  margin: 0;
  padding: 0;
}

.page-wrapper
{
  height: 100vh;
  background-image: url(/static/images/backgrounds/login_page_background.jpg);
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}

.page-wrapper:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .5);
}

.content
{
  width: 70%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  z-index: 1;
}

.logo
{
  width: 232px;
}

.logo-subtitle
{
  font: 17px/1.47 'Oxygen', sans-serif;
  color: #FFF;
}

.form
{
  padding: 56px 40px 0;
  height: 560px;
  width: 480px;
  background-color:  #FFF;
  display: flex;
  flex-direction: column;
}

.form__header
{
  font: 34px/1.18 'Lora', serif;
  color: #000;
  padding-bottom: 50px;
}

.form__field-label
{
  font: 12px/1.33 'Oxygen', sans-serif;
  color: #7A7A7A;
  margin-bottom: 5px;
}

.form__field
{
  height: 40px;
  width: 100%;
  padding-left: 4px;
  border-width: 0 0 1px 0;
  border-color: #EAEAEA;
}

.field-wrapper
{
  margin-bottom: 40px;
}

.form__field_password
{
  position: relative;
}

.form__field_password::before
{
  content: '';
  background: url(/static/images/decorations/show_password.png);
  display: block;
  position: absolute;
  right: 0;
  width: 24px;
  height: 24px;
}

.form__button
{
    width: 93px;
    height: 48px;
    border-radius: 3px;
    border-width: 0;
    cursor: pointer;
    background: #DD783F;
    color: #fff;
    font: 16px/1.5 'Oxygen', sans-serif;
  
}

@keyframes showBlock 
{
    0% {
      height: 0;
      opacity: 0;
      margin: 0;
    }
    100% {
      height: 44px;
      opacity: 1;
    }
}

.alert_error
{
    background: #FFEBEA;
    border-left: 2px solid #E86961;
    border-radius: 5px;
    margin: 0 0 16px 0;
    display: none;
}

.alert_error.show
{
    display: block;
    animation-name: showBlock;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}

.alert__text_error, .alert__text_success
{
    position: relative;
    font: 14px/1.43 'Oxygen', sans-serif;
    color: #2E2E2E;
    padding: 11px 0 13px 46px;
}

.alert__text_error::before
{
    position: absolute;
    content: url(/static/images/decorations/alert-circle.png);
    left: 12px;
}

.block_hidden
{
    display: none;
}

.form__field_error
{
    border-bottom: 1px solid #E86961;
}

.field__error
{
    font: 12px/1.33 'Oxygen', sans-serif;
    color: #E86961;
}