/* Общие стили */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Oxygen', sans-serif;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  /* Стили для размера экрана минимум 480px */
  
  @media screen and (min-width: 480px) {
    .top-block {
      padding: 0 0 120px;
    }
  
    .menu_with-custom-padding {
      padding: 10px 0 91px;
    }
  
    .top-block__title {
      font-size: 40px;
    }
  
    .top-block__subtitle {
      font-size: 15px;
      margin: 0 0 21px;
    }
  
    .button.top-block__button {
      width: 150px;
      height: 40px;
      font-size: 12px;
    }
  
    .section {
      gap: 0.8rem;
    }
  
    .card {
      height: 220px;
      width: calc(50% - 10px);
      padding: 15px;
      border-radius: 3px;
    }
  
    .card__image {
      height: 120px;
    }
  
    .card__title {
      font-size: 22px;
    }
  
    .card__subtitle {
      font-size: 12px;
      padding-bottom: 10px;
    }
  
    .card__signature {
      margin-top: auto;
    }
  
    .footer {
      padding-top: 60px;
    }
  
    .form {
      max-width: 420px;
    }
  
    .form__field {
      width: 300px;
    }
  
    .form__button {
      width: 100px;
    }
  }
  
  /* Стили для размера экрана минимум 768px */
  
  @media screen and (min-width: 768px) {
    .top-block {
      padding: 0 0 160px;
    }
  
    .menu_with-custom-padding {
      padding: 20px 0 131px;
    }
  
    .navigation__link {
      margin: 0 30px 0 0;
    }
  
    .top-block__title {
      font-size: 45px;
    }
  
    .top-block__subtitle {
      font-size: 18px;
      margin: 0 0 31px;
    }
  
    .button.top-block__button {
      width: 200px;
      height: 50px;
      font-size: 14px;
    }
  
    .section {
      gap: 1rem;
    }
  
    .card {
      height: 240px;
      width: calc(33.333% - 10px);
      padding: 20px;
      border-radius: 3px;
    }
  
    .card__image {
      height: 150px;
    }
  
    .card__title {
      font-size: 27px;
    }
  
    .card__subtitle {
      font-size: 14px;
      padding-bottom: 15px;
    }
  
    .card__signature {
      margin-top: auto;
    }
  
    .footer {
      padding-top: 81px;
    }
  
    .form {
      max-width: 540px;
    }
  
    .form__field {
      width: 360px;
    }
  }
  
  /* Стили для размера экрана минимум 1024px */
  
  @media screen and (min-width: 1024px) {
    .top-block {
      padding: 0 0 200px;
    }
  
    .menu {
      justify-content: flex-end;
    }
  
    .navigation {
      margin: 0 0 0 30px;
    }
  
    .menu_with-custom-padding {
      padding: 40px 0 161px;
    }
  
    .top-block__title {
      font-size: 60px;
    }
  
    .top-block__subtitle {
      font-size: 22px;
      margin: 0 0 41px;
    }
  
    .button.top-block__button {
      width: 250px;
      height: 60px;
      font-size: 16px;
    }
  
    .section {
      gap: 1.5rem;
    }
  
    .card {
      height: 300px;
      width: calc(25% - 10px);
      padding: 25px;
    }
  
    .card__image {
      height: 180px;
    }
  
    .card__title {
      font-size: 32px;
    }
  
    .card__subtitle {
      font-size: 16px;
      padding-bottom: 20px;
    }
  
    .card__signature {
      margin-top: auto;
    }
  
    .footer {
      padding-top: 100px;
    }
  
    .form {
      max-width: 720px;
    }
  
    .form__field {
      width: 480px;
    }
  }
  
  /* Стили для размера экрана минимум 1366px */
  
  @media screen and (min-width: 1366px) {
    .container {
      padding: 0;
    }
  
    .top-block {
      padding: 0 0 240px;
    }
  
    .menu_with-custom-padding {
      padding: 60px 0 201px;
    }
  
    .top-block__title {
      font-size: 80px;
    }
  
    .top-block__subtitle {
      font-size: 26px;
      margin: 0 0 61px;
    }
  
    .button.top-block__button {
      width: 300px;
      height: 70px;
      font-size: 20px;
    }
  
    .section {
      gap: 2rem;
    }
  
    .card {
      height: 380px;
      width: calc(20% - 10px);
      padding: 30px;
    }
  
    .card__image {
      height: 240px;
    }
  
    .card__title {
      font-size: 40px;
    }
  
    .card__subtitle {
      font-size: 20px;
      padding-bottom: 30px;
    }
  
    .card__signature {
      margin-top: auto;
    }
  
    .footer {
      padding-top: 130px;
    }
  
    .form {
      max-width: 960px;
    }
  
    .form__field {
      width: 640px;
    }
  }
  