<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Let's do it together.</title>
  <link rel="stylesheet" href="assets/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Lora&family=Oxygen&display=swap" rel="stylesheet">
</head>

<body>
  <header class="top-block">
    <div class="menu menu_with-custom-padding">
      <a href="/home"><img src="../assets/images/logo/Escape_white.svg" alt="Escape"></a>
      <nav class="navigation">
        <a href="/home" class="navigation__link">Home</a>
        <a href="#" class="navigation__link">Categories</a>
        <a href="#" class="navigation__link">About</a>
        <a href="#" class="navigation__link">Contact</a>
      </nav>
    </div>
    <h1 class="top-block__title">Let's do it together.</h1>
    <p class="top-block__subtitle">We travel the world in search of stories. Come along for the ride.</p>
    <button class="button top-block__button">View Latest Posts</button>
  </header>
  <nav class="navigation navigation_standalone">
    <a href="#" class="navigation__link navigation__link_grey">Nature</a>
    <a href="#" class="navigation__link navigation__link_grey">Photography</a>
    <a href="#" class="navigation__link navigation__link_grey">Relaxation</a>
    <a href="#" class="navigation__link navigation__link_grey">Vacation</a>
    <a href="#" class="navigation__link navigation__link_grey">Travel</a>
    <a href="#" class="navigation__link navigation__link_grey">Adventure</a>
  </nav>
  <div class="section-container">
    <section class="section">
      <h2 class="title">Featured Posts</h2>
      {{ range .FeaturedPosts }}
      <div onClick="window.location.href={{ .PostURL }}" class="card" style="background-image: url({{ .PostImage}})">
        <h3 class="card__title">{{ .Title }}</h3>
        <span class="card__label {{ if .Category}} {{ else }} card__label_hidden {{ end }}">{{ .Category }}</span>
        <p class="card__subtitle">{{ .Subtitle }}</p>
        <div class="card__signature">
          <img src={{ .AuthorImg }} alt={{ .Author }}>
          <span class="card__author-name">{{ .Author }}</span>
          <span class="card__date">{{ .PublishDate }}</span>
        </div>
      </div>
      {{ end }}
    </section>
    <section class="section">
      <h2 class="title">Most Recent</h2>
      {{ range .MostRecentPosts }}
      <div onClick="window.location.href={{ .PostURL }}" class="card card_small">
        <img class="card__image" src={{ .PostImage }} alt={{ .Title }}>
        <h3 class="card__title card__title_small">{{ .Title }}</h3>
        <p class="card__subtitle card__subtitle_small">{{ .Subtitle }}</p>
        <div class="card__signature card__signature_small">
          <img src={{ .AuthorImg }} alt={{ .Author }}>
          <span class="card__author-name card__author-name_small">{{ .Author }}</span>
          <span class="card__date card__date_small">{{ .PublishDate }}</span>
        </div>
      </div>
      {{ end }}
    </section>
  </div>
  <footer class="footer">
    <h2 class=" title title_white">Stay in Touch</h2>
    <form action="#" method="post" class="form">
      <input type="email" name="email" id="leadEmail" class="form__field" placeholder="Enter your email address">
      <button class="button form__button">Submit</button>
    </form>
    <div class="menu footer__menu">
      <img src="../assets/images/logo/Escape_white.svg" alt="Escape">
      <nav class="navigation">
        <a href="/home" class="navigation__link navigation__link_footer">Home</a>
        <a href="#" class="navigation__link navigation__link_footer">Categories</a>
        <a href="#" class="navigation__link navigation__link_footer">About</a>
        <a href="#" class="navigation__link navigation__link_footer">Contact</a>
      </nav>
    </div>
  </footer>
</body>

</html>